body {
	margin: 0;
	padding: 0; 
	display: flex;
  	flex-direction: column;
  	height: 100vh;
}
* {
	font-size: 4vmin;
}
/* HEADER */
a {
	text-decoration: none;
	color: black;
}
#liens_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	width: 100vw;
	background-color: blue;
	position: fixed;
	top: 0;
	animation: liensheader 0.2s linear ;
}
@keyframes liensheader {
	0% {
		height: 0vh;
	}
	100% {
		height: 100vh;
	}
}
.liens_header_cacher {
	display: none !important;
}

#icone_menu_burger {
	height: 100%;
	width: 100%;
}
#menu_burger {
	height: 10vmin;
	width: 8vmin;
	position: fixed;
	top: 0;
	right: 0;
}
/* FOOTER */
footer {
	text-align: center;
	margin-top: auto;
}
/* DIV GLOBAL */
#divGlobal {
	display: flex;
	align-items: center;
	flex-direction: column;
}
/* ACCUEIL */
#imgOrnithorynque {
	width: 30vw;
}
.paraIndex {
	text-align: center;
	width: 90%;
}
/* GALERIE PHOTO */
#divGaleriePhoto {
	display: flex;
	flex-wrap: wrap; 
	justify-content: center;
}
.imgGalerie {
	width: 30vw;
}
/* CONTACT */
.formContact p{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.formContact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

